.header {
    width: 100%;
    height: 60px;
    background: #409eff;
    .logo {
        float: left;
        height: 60px;
    }
    .nav-list {
        float: right;
        .list-item {
            float: left;
            margin-left: 40px;
            font-size: 16px;
            line-height: 60px;
            padding-bottom: 3px;
            color: #fff;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid #fff;
            }
            &:acitve {
                border-bottom: 2px solid #fff;
            }
        }
    }
    .active-item {
        color: #fff;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    .el-color-picker__trigger {
        margin-top: 12px;
    }
    .el-color-picker__panel {
        right: 20px;
    }
}