.header {
    padding: 20px 100px;
    overflow: hidden;
    .logo {
        float: left;
        img {
            height: 60px;
        }
    }
    .nav-list {
        float: right;
        .list-item {
            float: left;
            margin-left: 20px;
            font-size: 16px;
            line-height: 1.4;
            padding-bottom: 3px;
            &:hover {
                border-bottom: 2px solid #42b983;
            }
            &:acitve {
                border-bottom: 2px solid #42b983;
            }
        }
    }
}