.header {
    width: 100%;
    height: 60px;
    z-index: 103;
    color: #fff;
    background: #4183c4;
    .logo {
        float: left;
        img {
            height: 60px;
        }
    }
    .nav-list {
        float: right;
        line-height: 60px;
        a {
            display: inline-block;
            margin-left: 1.25rem;
            font-size: 1rem;
            color: rgba(255, 255, 255, .5);
            &:hover {
                color: #fff;
            }
        }
    }
    
    .el-color-picker__trigger {
        margin-top: 12px;
    }
    .el-color-picker__panel {
        right: 20px;
    }
}