.arrow-up {
    position: fixed;
    right: 30px;
    bottom: 100px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0px 6px;
    border-radius: 5px;
    cursor: pointer;
    .iconfont {
        color: #999;
    }
}