// 标准配色 http://one-design.baidu-int.com/design/basic/color

$blue: #3998fc;
$red: #ff5b5b;
$green: #5bc49f;
$yellow: #fe9700;
$grey: #999999;

// 比标准色加黑10%
$ldeep-blue: #3389e2;
$ldeep-red: #e55252;
$ldeep-green: #52b08f;
$ldeep-yellow: #e48800;
$ldeep-grey: #666666;

// 比标准色加黑20%
$deep-blue: #2e7aca;
$deep-red: #cc4949;
$deep-green: #499d7f;
$deep-yellow: #cb7900;
$deep-grey: #333333;

// 比标准色加白20%
$light-blue: #60acfc;
$light-red: #ff7c7c;
$light-green: #7cd0b2;
$light-yellow: #feac33;
$light-grey: #b8b8b8;

// 比标准色加白30%
$blight-blue: #74b7fc;
$blight-red: #ff8c8c;
$blight-green: #8cd6bc;
$blight-yellow: #feb64c;
$blight-grey: #dbdbdb;

// 比标准色加白40%
$llight-blue: #88c1fd;
$llight-red: #ff9d9d;
$llight-green: #9ddcc5;
$llight-yellow: #ffd599;
$llight-grey: #e7e7e7;

// 比标准色加白60%
$slight-blue: #afddfd;
$slight-red: #ffbdbd;
$slight-green: #bde7d9;
$slight-yellow: #ffd599;
$slight-grey: #eeeeee;

// 比标准色加白80%
$rare-blue: #d7eafe;
$rare-red: #ffdede;
$rare-green: #def3ec;
$rare-yellow: #ffeacc;
$rare-grey: #fcfcfc;

// 比标准色加白90%
$lrare-blue: #ebf4fe;
$lrare-red: #ffeeee;
$lrare-green: #eef9f5;
$lrare-yellow: #fff4e5;
$lrare-grey: #fff;

$background-color: $rare-grey;
$white: #fff;
$black: #000;
$link-color: #555;
$head-font-color: #444;
$title-font-color: #333;
