@import './color.scss';

.container {
    width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.doc {
    width: 1020px;
    padding: 20px;
    margin: 0 auto;
    img {
        vertical-align: middle;
        max-width: calc(100% - 50px);
        border: 0;
        border-radius: 4px;
        margin: 0 25px;
        box-shadow: 0px 8px 16px $grey;
    }
    h1, h2, h3, h4 {
        color: #111111;
        font-weight: 400;
        margin-top: 1em;
        a {
            display: none;
        }
    }
    
    h1, h2, h3, h4, h5, dl{
        margin-bottom: 16px;
        padding: 0;
    }
    
    p {
        margin-top: 8px;
        margin-bottom: 3px;
    }
    h1 {
        font-size: 48px;
        line-height: 54px;
    }
    h2 {
        font-size: 36px;
        line-height: 42px;
    }
    h1, h2 {
        border-bottom: 1px solid #EFEAEA;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 24px;
        line-height: 30px;
    }
    h4 {
        font-size: 21px;
        line-height: 26px;
    }
    h5 {
        font-size: 18px;
        line-height: 23px;
    }
    a {
        color: #0099ff;
        margin: 0 2px;
        padding: 0;
        vertical-align: baseline;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: #ff6600;
    }
    a:visited {
        /*color: purple;*/
    }
    ul, ol {
        padding: 0;
        padding-left: 18px;
        margin: 0;
    }
    ol li {
        list-style-type: inherit;
    }
    ul li {
        list-style-type: disc;
    }
    li {
        line-height: 24px;
    }
    p, ul, ol {
        margin: 25px 0;
        font-size: 16px;
        line-height: 24px;
    }
    
    ol ol, ul ol {
        list-style-type: lower-roman;
    }
    
    code, pre {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        background-color:#f7f7f7;
        color: inherit;
    }
    
    code {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
        line-height: 1.4;
        color: $ldeep-grey;
        background-color: $lrare-blue;
        border-radius: 3px;
        padding: 1px 4px;
        font-size: 14px;
    }
    
    
    pre {
        padding: 1.2em !important;
        margin: 1.2em 0 !important;
        border-radius: 5px;
        background: #282c34;
        overflow: auto;
        code {
            color: $light-grey;
            background-color: transparent;
            padding-left: 0;
        }
    }
    
    
    code {
        color: #666555;
    }
    
    aside {
        display: block;
        float: right;
        width: 390px;
    }
    blockquote {
        border-left:.5em solid #eee;
        padding: 0 0 0 2em;
        margin-left:0;
    }
    blockquote  cite {
        font-size:14px;
        line-height:20px;
        color:#bfbfbf;
    }
    blockquote cite:before {
        content: '\2014 \00A0';
    }
    
    blockquote p {
        color: #666;
    }
    hr {
        text-align: left;
        color: #999;
        height: 2px;
        padding: 0;
        margin: 16px 0;
        background-color: #e7e7e7;
        border: 0 none;
    }
    
    dl {
        padding: 0;
    }
    
    dl dt {
        padding: 10px 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
    }
    
    dl dd {
        padding: 0 16px;
        margin-bottom: 16px;
    }
    
    dd {
        margin-left: 0;
    }
    
    table {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
    }
    table {
        border: solid #ccc 1px;
    }
    
    table thead {
        background: #f7f7f7;
    }
    
    table thead tr:hover {
        background: #f7f7f7
    }
    table tr:hover {
        background: #fbf8e9;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    table td, .table th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }
    
    table th {
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        padding: 5px;
        border-left: 1px solid #ccc;
    }
    
    table td:first-child, table th:first-child {
        border-left: none;
    }
}

@media screen and (max-width: 1020px) {
    .container {
        width: auto;
    }
    .doc {
        width: auto;
        h1 {
            font-size: 1.4rem;
        }
    }
}