
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}
ul, ol li{
    list-style: none;
}
a {
    color: #2c3e50;
    text-decoration: none;
    background-color: transparent;
}
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}