.article-list-item {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    .article-list-name {
        margin: 0 0 8px;
        font-size: 20px;
        line-height: 1.2;
        a {
            color: #4183c4;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .article-list-description {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 16px;
        color: #666;
    }
    .article-list-meta {
        display: block;
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 13px;
        color: #999;
        .iconfont {
            position: relative;
            top: 1px;
            margin-right: 3px;
        }
    }
}

@media screen and (max-width: 1020px) {
    .article-list-item {
        .article-list-name {
            font-size: 1rem;
        }
        .article-list-description {
            font-size: .8rem;
        }
    }
}