.content {
    display: flex;
    .sidebar-wrap {
        width: 200px;
        float: left;
        padding: 20px 10px;
        margin-right: 10px;
        box-sizing: border-box;
        background: #fafafa;
        li {
            padding-left: 20px;
            box-sizing: border-box;
            line-height: 40px;
            color: #303133;
            font-size: 14px;
            transition: all .2s;
            &:hover {
                background: #ecf5ff;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .content-right {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    }
    .active-class {
        color: #409eff;
    }
}