@font-face {
  font-family: "iconfont"; /* Project id 1061752 */
  src: url('iconfont.woff2?t=1624699692478') format('woff2'),
       url('iconfont.woff?t=1624699692478') format('woff'),
       url('iconfont.ttf?t=1624699692478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e62e";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-emailFilled:before {
  content: "\e647";
}

.icon-github1:before {
  content: "\e601";
}

.icon-Homehomepagemenu:before {
  content: "\e9db";
}

.icon-lianjie:before {
  content: "\e628";
}

.icon-huidaodingbu:before {
  content: "\e68a";
}

.icon-huidingbu:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e63d";
}

.icon-snail:before {
  content: "\eaa3";
}

.icon-biaoqian:before {
  content: "\e611";
}

.icon-github-copy:before {
  content: "\e619";
}

.icon-location-copy:before {
  content: "\e61a";
}

.icon-github:before {
  content: "\e600";
}

.icon-location:before {
  content: "\e617";
}

.icon-rili:before {
  content: "\e618";
}

